<!-- datatable_includes.html   separar el código reutilizable en un archivo independiente-->

        <!-- DataTables JavaScript -->
        <script  type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

        <!---DataTables JavaScript  button -->
        <script  type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>

        <!---DataTables JavaScript Print button -->
        <script  type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

        <!---DataTables : libreria JavaScript permite crear, leer y editar archivos zip  -->
        <script  type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

        <!---DataTables : libreria JavaScript permite crer archivos PDF -->
        <script  type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

        <!---DataTables : libreria JavaScript para tipo de letras exportation de PDF -->
        <script  type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

        <!---DataTables : libreria JavaScript para boton HTML5 de exportación -->
        <script  type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
        <!---DataTables : libreria JavaScript para responsivo-->
        <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
        <!---DataTables : libreria JavaScript para COLVIS-->
        <script type="text/javascript" src="https://cdn.datatables.net"></script>
