{% extends './base.html' %}
{% import './macros.html' as macros %}
{% block title %}Gestión Cultivos{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="chakra-module-shell position-relative">
        {{ macros.title_bar("Gestión Cultivos") }}

        <div class="chakra-form-body">
            {% set es_edicion = crop is not none %}

            <div class="mb-4">
                <p>crop</p>
                <h3 class="chakra-section-title mb-2">{{ "Editar Cultivo" if es_edicion else "Crear Cultivo" }}</h3>
                <p class="chakra-section-subtitle mb-0">
                   Gestiona registro de los Cultivos que tienes.
                </p>
            </div>

            <div class="row mt-3">
                {{ macros.form_controls('text', 'name', 'Nombre:', 'form-control', crop.name if crop else '') }}
                {{ macros.form_controls('text', 'scientific_name', 'Nombre Científico:', 'form-control',
                crop.scientific_name if crop else '') }}
                {{ macros.form_controls('text', 'description', 'Descripcion:', 'form-control',
                crop.description if crop else '') }}
                {{ macros.load_spinner() }}

            </div>

            <input  type="hidden" id="idcrop" name="idcrop" value="{{ crop.id if crop else '0' }}">
            <button id="guardar" class="btn btn-agro mt-2">
                {{ "Actualizar Cultivo" if es_edicion else "Crear Cultivo" }}
            </button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/closeforms.js') }}"></script>
<script src="{{ url_for('static', filename='js/crops/crop-form.js') }}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        vo_methodCreate();
        vo_closeForms('/crops');

        });

</script>
{% endblock %}
